<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <MusicVolume>0.5530858</MusicVolume>
  <EffectsVolume>0.2119016</EffectsVolume>
  <Language>Nederlands</Language>
  <Vignette>True</Vignette>
  <Bloom>True</Bloom>
  <AntiAlliasing>True</AntiAlliasing>
  <TeamSwitching>True</TeamSwitching>
</Settings>