<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <MusicVolume>0.3318225</MusicVolume>
  <EffectsVolume>0.747664</EffectsVolume>
  <Language>Francais</Language>
  <Vignette>True</Vignette>
  <Bloom>True</Bloom>
  <AntiAlliasing>True</AntiAlliasing>
  <TeamSwitching>True</TeamSwitching>
</Settings>